/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 40px;
}

#footer {
    background-color: #eeeeee;
    width:100%;
    margin:0 auto;
}
#footer>.container{
    width:1000px;
    margin:0 auto;
    padding-top:10px;
}
