.main-instrument{
    width:1000px;
    margin:20px auto;
    min-height: 500px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.instrument-nav{
    width:250px;
    float:left;
    font-size:14px;
}


.instrument-body{
    width:740px;
    float:right;
}

ul{
    padding-left:10px;
}

.li-img{
    width:150px;
    height:80px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

.video-col{
    margin-bottom: 10px;
}

.panel-body>p{
    line-height: 150%;
}


