.main-instrument{
    width:1000px;
    margin:20px auto;
    min-height: 500px;    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.instrument-nav{
    width:250px;
    float:left;
    border:1px solid #dddddd;
    color:darkcyan;
    font-size:14px;
    box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.6);
}


.instrument-body{
    width:734px;
    float:right;
    border:1px solid #dddddd;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.6);
}

ul{
    padding-left:10px;
}

.li-img{
    width:150px;
    height:80px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}
.video-col{
    margin-bottom: 10px;
}

.panel-body>p{
    line-height: 150%;
}

.instrument-nav-menu{
    list-style-type: square;
}

.instrument-nav-menu>li{
    cursor: pointer;
}

.panel>.panel-title{
    width:734px;
}

.panel>.panel-body{
    width:734px;
}