.relate-video{
    width:150px;
    height: 100px;
}

.relate-video:not(first){
    margin-top:10px;
}

.relate-video:hover{
    border:5px solid red;
}

.video-center{
    width:1000px;
    height:620px;
    margin:20px auto;
}

#videoRight{
    width:180px;
    height:600px;
    float:right;
}

#videoCenter{
    width:800px;
    height:600px;
    float:left;
}

#videoCenter>.panel-body{
    height:560px;
    width:100%;
}